<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<header>
    <h1>THE TECH BLOG </h1>

    <nav>
        <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Login</li>
        </ul>
    </nav>
</header>

<body>
    <main>
        {{{ body }}}        
    </main>
</body>

</html>