<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<header>
    <h1>THE TECH BLOG </h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Dashboard</li>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

<body>
    <main>
        {{{ body }}}        
    </main>
</body>

</html>